.logo {
  background-color: black;
  text-align: center;
  padding: 1px;
  list-style: none;
}

#footerfinal {
  background-color: rgb(56, 112, 177);
  padding: 1em 3px 30px 5px;
}

.lista {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 600;
}

.nombresdelosproductos {
  color: rgb(28, 122, 177);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.foter {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

h5 {
  text-align: center;
}

.soporte {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  padding-top: 1em;
}

.fun {
  font-size: 14px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 100%;
  margin: 0% auto;
  max-width: 3000px;
  list-style: none;
}

.col {
  width: 100%;
  list-style: none;
}

.raw {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

header {
  padding: 0%;
  position: sticky;
  top: 0;
  list-style: none;
}
.nav__list {
  list-style: none;
  justify-content: space-between;
  align-items: center;
  margin: 1%;
  margin-left: 30%;
  margin-right: 30%;
  font-size: 20px;
  list-style: none;
  text-decoration: none;
}

.navlink {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
}
.navlink:hover,
.navlink:focus {
  opacity: 0.65;
}
.maps {
  padding-left: 1em;
}
.copy {
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.mision {
  text-align: center;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
.cursotext {
  text-align: center;
}
.cursobenefi {
  text-align: center;
}
.negritas {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}
.cursotext {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 13px;
}
